body {
    background: rgb(244, 218, 245);
    font-family: monospace;
  }
  h1 {
    background-color: #c8b0f7;
    display: inline-block;
    font-size: 3em;
    margin: 0;
    padding: 14px;
  }
  h3 {
    color: black;
    font-size: 20px;
    margin-top: 3px;
    text-align: center;
  }
  #chatbox {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 60px;
  }
  #userInput {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 60px;
  }
  #textInput {
    width: 90%;
    border: none;
    border-bottom: 3px solid black;
    font-family: monospace;
    font-size: 20px;
  }
  .userText {
    color: white;
    font-family: monospace;
    font-size: 20px;
    text-align: right;
    line-height: 30px;
  }
  .userText span {
    background-color: #808080;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px
  }
  .botText {
    color: white;
    font-family: monospace;
    font-size: 20px;
    text-align: left;
    line-height: 30px;
  }
  .botText span {
    background-color: #f57392;
    color: black;
    padding: 10px;
    border-radius: 10px;
    float: left;
  }
  #tidbit {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
  }
  .boxed {
    background: #c8b0f7;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 60px;
    border: 2px solid #3c005a;
  }
  .box {
    border: 2px solid black;
  }
  