* {
  margin: 0;
  padding: 0;
}

.header,
.book-appointment,
.intro-text {
  width: 100%;
  background: rgb(244, 218, 245);
  position: relative;
}

.footer {
  width: 100%;
  max-height: 30px;
  background: #c8b0f7;
  position: relative;
  bottom: 0;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}

.logo {
  margin: 1rem;
  border-radius: 100%;
  max-width: 85px;
  max-height: 85px;
}

.nav-links {
  flex: 1;
  text-align: center;
}

nav {
  background-color: #c8b0f7;
  height: 90px;
  display: flex;
  padding: 0% 2%;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: right;
}

nav ul li {
  vertical-align: middle;
  display: inline-block;
  padding: 8px 12px;
  text-align: center;
}

nav ul li a {
  text-decoration: none;
  color: black;
  padding: 8px 8px 8px 8px;
  vertical-align: middle;
}

nav ul li a:hover {
  text-decoration: underline;
  font-weight: bold;
}

.slideshow {
  position: relative;
  margin: auto;
}

.slide-img {
  height: auto;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 33px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.number {
  color: #f2f2f2;
  font-size: 22px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.slot-img {
  height: px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.booking-text-up,
.intro-text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 25px;
  font-weight: bold;
  padding-left: 10px;
}

.booking-text-down {
  position: absolute;
  bottom: 20px;
  left: 10px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: rgb(67, 63, 136);
  padding-left: 80px;
}

.booking-heading,
.what-we-do {
  font-family: "Staatliches", cursive;
  font-size: 40px;
  padding-left: 10px;
  text-decoration: underline;
}

.form-link {
  color: rgb(67, 63, 148);
}

.form-link:hover {
  color: coral;
}

.footer-text {
  vertical-align: middle;
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
}

.intro-text ul li {
  display: flex;
  flex-wrap: wrap;
}
